@model MvcWebUI.Models.GroupListViewModel
@{
    ViewBag.Title = "Default";
}

<h2>Group List</h2>

<ul class="list-group">

    @foreach (var group in Model.Groups)
    {

        <li class="list-group-item">@group.Name</li>
    }

</ul>